ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(250,250,250);
}

body {
  background-color: rgb(194,241,226);
}

h3{
  font-family: "Trebuchet MS", Helvetica, sans-serif;  
  font-aligh: left; 
  color: rgb(56,59,63);
}
li {
  float: left;
}

div {
  align: right;
  border: 6px rgb(56,59,63);
  padding: 0;
  margin: 16px;
}

a {
  display: block;
  padding: 16px;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-aligh: left;
  color: rgb(56,59,63);
}

h1 {
  color: rgb(56,59,63);
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
}

