ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(250,250,250);
}

body {
  background-color: rgb(250,190,255);
}
li {
  float: left;
}

a {
  display: block;
  padding: 16px;
}

p {
  font-family: fantasy;
  font-aligh: left;
}


